<div class="timeline">
	<button [disabled]="isTimelineButtonDisabled()"
					(click)="addToTimeline()">Add to Timeline</button>
	<div *ngIf="!!timeline.length"
			 class="timeline__row">
		<div *ngFor="let t of timeline"
				 class="timeline__chord"
				 (click)="setChord(t.scale, t.chord)">
			{{t.chord.root}} {{t.chord.voice}}</div>
	</div>

  <div class="timeline__row">
    <button *ngIf="!!timeline.length"
    (click)="saveTimeline()">Save Timeline</button>
    <button *ngIf="!!timeline.length"
    (click)="clearTimeline()">Clear Timeline</button>
  </div>
</div>
