.timeline{
  background: #fff;
  padding: 1em;
}
.timeline{
  &__row{
    margin: 1em 0em;
    display: flex;
    gap: 1em
  }
  &__chord{
    background: green;
    padding: 1em ;
    color: white;
    cursor: pointer;
  }
}
