.controls{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1em;
  background: white;

  &__panel{
    flex: 1;
    &:first-child{
      margin-right: 2em;
    }
  }

  &__row{
    display: flex;
    flex: 1;
    margin-bottom: 1em;

    ul {
      margin-bottom: 0px;
    }

    li{
      flex: 1;
      height: 40px;
      &:not(:first-child){
        margin-left: .3em;
      }
    }

    button{
      height: 100%;
      width: 100%;
    }

    button.active{
      background: #333;
      color: white;
    }
  }

  &__heading{
    margin-bottom: .2em;
  }
}
