.app {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #333;

  &__container {
    width: 90%;
    &--guitar{
      background: #eee;
    }
    &--controls{
      margin-top: 2em;
    }
  }
}
