.app {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;

  background: #333;

  &__container {
    width: 90%;
  }

  &__container > * {
    margin-top: 2em;
    display: block;
  }
}
